@page
@{
    ViewData["Title"] = "About";
}

<div>
    <div class="max-w-xl mx-auto">
        <div class="w-auto py-2 mt-6 mb-4">
            <div class="text-2xl font-medium">About</div>
        </div>
        <div class="flex">
            <p>This site was built using HTMZ, Alpine.js, UnoCSS, and ASP.NET Core.</p>
        </div>
    </div>
</div>